body{
    color: #333;
    font-family: Arial;
    text-align: center;
}

#cabecera{
    background: #33C ;
    color: #DDD;
    padding: 0.5em;
    font-size: 30px;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #DDD;
}

#container h1{
    font-size: 20px;
}

#post{
    background: rgb(153, 147, 147) ;
   
}